@import "tailwindcss";

@theme inline {
  /* Fonts */
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);

  /* Colors */
  --color-forest:    #414833;
  --color-offwhite:  #F7F5F0;
  --color-gold:      #B8965A;
  --color-brown:     #4A3C24;
}

html,
body {
  background-color: #F7F5F0;
  color: #4A3C24;
  font-family: var(--font-inter), sans-serif;
}
